body { font-family: sans-serif; }
.muted { text-decoration: line-through; }
.armed { background-color: pink; }

table {
	border-collapse: collapse;
	width: 100%;
}

th { text-align: left; }
td { position: relative; }

table.persons tr th:first-child, table.persons tr td:first-child { width: 1em; }

input[type=checkbox]:checked + label::before {
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: pink;
	z-index: -1;
}

