d.myresponder.local:8080 {
	tls off
	root docs
	markdown
}

m.myresponder.local:8080 {
	tls off
	root m
	fastcgi / 127.0.0.1:9000 php
	log logs/m.access.log
	errors logs/m.error.log
}

h.myresponder.local:8080 {
	tls off
	root h
	fastcgi / 127.0.0.1:9000 php
	log logs/h.access.log
	errors logs/h.error.log
}

g.myresponder.local:8080 {
	tls off
	root g
	fastcgi / 127.0.0.1:9000 php
	log logs/g.access.log
	errors logs/g.error.log
}
