{$HOST}:80 {
	on startup php-fpm7 # php variant only
	tls off
	root index
	fastcgi / 127.0.0.1:9000 php
}

d.{$HOST}:80 {
	tls off
	root /srv/docs
	markdown
}

m.{$HOST}:80 {
	tls off
	root m
	basicauth / {$M_USER} {$M_PASS}
	fastcgi / 127.0.0.1:9000 php
}

h.{$HOST}:80 {
	tls off
	log stdout
	errors stdout
	root h
	fastcgi / 127.0.0.1:9000 php
}

g.{$HOST}:80 {
	tls off
	root g
	fastcgi / 127.0.0.1:9000 php
}
