{$HOST} {
	startup php-fpm
	tls off
	root index
	fastcgi / 127.0.0.1:9000 php
}

d.{$HOST} {
	tls off
	root /srv/docs
	markdown
}

m.{$HOST} {

	tls off
	root m
	basicauth / {$M_USER} {$M_PASS}
	fastcgi / 127.0.0.1:9000 php
	log logs/m.access.log
	errors logs/m.error.log
}

h.{$HOST} {
	tls off
	root h
	fastcgi / 127.0.0.1:9000 php
	log logs/h.access.log
	errors logs/h.error.log
}

g.{$HOST} {
	tls off
	root g
	fastcgi / 127.0.0.1:9000 php
	log logs/g.access.log
	errors logs/g.error.log
}
