body { font-family: sans-serif; }
form { display: flex; flex-direction: column; }
input { font-size: 1.8em; padding: 0.3em; box-sizing: border-box;  display: block; flex: 1;}
input:focus { background-color: #FFFFCC; }
.muted { text-decoration: line-through; }
